[submodule "external/mini"]
	path = external/mini
	url = https://github.com/Wii-Linux/mini
[submodule "external/dtc"]
	path = external/dtc
	url = https://github.com/dgibson/dtc
[submodule "external/dol-tools"]
	path = external/dol-tools
	url = https://github.com/Wii-Linux/dol-tools
